body{
    padding: 0;
    margin: 0;
    background:#333;
    color:#fff;
  }
  h1{
      text-align: center;
  }
  .button{
    padding-top: 1px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .card{
     margin-bottom: 7px;
 }